.demo-container {
	width: 1250px;
	height: 460px;
	position: absolute;
	left: 50px;
	box-sizing: border-box;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.yaxisLabel {
	top: 50%;
	left: 600px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.yaxisLeftLabel {
	top: 50%;
	left: -20px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#connect{

	left:15px;
	top:15px;
}
#third_graph {
	position: absolute;
	left: 50px;
	top: 550px;
	width: 400px;
	height: 300px;
}
#placeholder {
	width: 400px;
	height: 300px;
	position: absolute;
}
#data_container {
	position: absolute;
	left: 50px;
	top: 40px;
	width: 600px;
	height: 400px;
}
#heatIndex_container {
	width: 500px;
	height: 350px;
	position:absolute;
}

#second_graph_title{
	text-align:center;
}
#second_graph{
		position: absolute;
	left: 720px;
	top: 0px;
	width: 500px;
	height: 350px;
}
#caption {
	position:absolute;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		top:400px;
}
.flot-text{
	font-size:13px!important;
}
table{
	font-size:13px!important;
}
